    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: sans-serif;
        background-color: black;
    }
    .container{
        max-width: 100vw;
        margin: auto;
    }

    header{
        background-color: rgb(19, 226, 226);
        text-align: center;
        color: white;
        padding: 10px;
    }

    .title{
        font-size: 26px;
    }